/* You can add global styles to this file, and also import other style files */
.page {
    background-color: black;
    color: white;
    font-family: 'Courier New', sans-serif;
}

.base-margin-top {
    margin-top: 1em;
}